.landing-container{
    width: 100%;
    padding: 50px 0px;
    min-height: 80vh;
    margin-top: -50px;
    min-height: 80vh;
    margin: auto;
    .home-header{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 20px 25px;
      border-bottom: 1px solid var(--primary-border);
      img{
        max-width: 200px;
      }
      .icon{
        font-size: 20px;
      }
      @media (max-width: 767px) {
        display: none;
      }
    }
    .banner-container{
        width: 100%;
        display: flex;
        height: 65vh;
        padding: 30px 0;
        @media (max-width: 767px) {
          width: 100%;
          height: inherit;
          flex-direction: column;
        }
    }
    .image-section{
        width: 40%;
        display: flex;
        align-items: center;
        @media (max-width: 767px) {
          width: 100%;
        }
    }
    .text-section{
        width: 60%;
        @media (max-width: 767px) {
          width: 100%;
        }
        background: var(--tertiary-background);
        padding: 30px 80px;
        border-radius: 20px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width: 767px) {
          padding: 30px 40px;
          margin: 20px;
        }
        .main-heading{
          font-size: 50px;
          @media (max-width: 767px) {
            font-size: 32px;
          }
          font-weight: 500;
          color: var(--primary);
          line-height: 1.4em;
          margin-bottom: 40px;
        }
        .sub-text{
          margin-bottom: 40px;
          font-size: 18px;
          margin-bottom: 60px;
        }

    }
    #container {
        perspective: 30px;
        height: 60vh;
        align-items: center;
        justify-content: center;
        @media (max-width: 767px) {
          height: 350px;
        }
      }
      
      #inner {
        transition: transform 0.5s;
        -webkit-transition: transform 0.5s;
        // box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
        height: 100%;
      }
      
      /*============================================================
       * EXTRAS
       *============================================================*/
      
      .demo-img {
        height: 100%;
        padding: 30px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
      }
      
      #container:hover .demo-overlay {
        opacity: 1;
      }
      
      #container:hover {
        cursor: pointer;
      }
      
      .demo-overlay {
        width: 100%;
        height: 100%;
      }
}