// =========================
// Carousel
// =========================

:host {
    flex: 1;
  }
  
  .carousel {
    position: relative;
    height: calc(70vh);
    width: 100%;
    // overflow: hidden;
    border-radius: 0.5em;
    padding: 30px 50px;
    background: #E8E8E8;
    border-radius: 20px;
  }

  .content{
    position: absolute;
    left: 50%;
    top: 100px;
    padding: 35px;
  }
  
  .slide {
    position: absolute;
    top: 10%;
    left: 50px;
    width: 45%;
    height: 80%;
    // object-fit: cover;
    object-fit: scale-down;
    // zoom effect on hover
    transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
    border-radius: 0.5em;
  }
  
  .slide:hover {
    transform: scale(1.025);
  }
  
  // =========================
  // Next and Prev buttons
  // =========================
  .control {
    border: none;
    background-color: #ffffff;
    border-radius: 37px;
    outline: 0;
    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    color: #777777;
    font-weight: bold;
    font-size: 3em;
    user-select: none;
    height: 70px;
    width: 70px;
  
    .isode{
      background: #E8E8E8;
      height: 60px;
      width: 60px;
      border-radius: 37px;
      padding: 20px;
      position: relative;
      &.next{
        right: 5px;
      }
      &.prev {
        right: -5px;
      }
    }
    &:hover,
    &:focus {
      opacity: 1;
    }
  
    /* Position the buttons */
    &.next {
      right: -35px;
      top: 45%;
      padding-left: 9px;
    }
    &.prev {
      left: -35px;
      top: 45%;
    }
  }
  
  /* style the arrows */
  .arrow {
    display: block;
    border-left: 0.1em solid #777777;
    border-bottom: 0.1em solid #777777;
    width: 20px;
    height: 20px;
  
    &.left {
      transform: rotate(45deg);
    }
    &.right {
      transform: rotate(225deg);
    }
  }
  