.hiveonboard{
    padding-top: 50px;
    height: 90vh;
    .page-heading{
        font-size: 24px;
        color: var(--accent);
    }
    .page-subtext{
        font-size: 16px;
        color: var(--accenttwo);
    }
    carousel{
        height: 80vh;
    }
}