.embedcontainer{
    width: 100%;
    display: flex;
    justify-content: start;
    max-height: 180px;
    position: relative;
    .aureal-favicon{
        position: absolute;
        right: 5px;
        top: 5px;
        img{
            height: 10px;
            width: 10px;
        }
    }
    @media (max-width: 767px) {
        max-height: 90px;
    }
    .image-section{
        position: relative;
        .over-image-buttons{
            position: absolute;
            display: none;
            @media (max-width: 767px) {
                display: block;
                top: 20px;
                left: 7px;
            }
            .mat-icon {
                height: 50px !important;
                width: 50px !important;
                font-size: 50px !important;
                color: white;
                opacity: 0.9;
            }
        }
        img{
            height: 180px;
            width: 180px;
            @media (max-width: 767px) {
                height: 90px;
                width: 90px;
            }
        }
        .over-image-slider{
            display: none;
            @media (max-width: 767px) {
                display: block;
            }
            position: absolute;
            bottom: 0;
            .mat-slider-horizontal {
                height: 30px;
                min-width: 98px;
            }
        }
    }

    .ex-player{
        width: calc( 100% - 180px );
        padding: 20px;
        @media (max-width: 767px) {
            width: calc( 100% - 90px );
            padding: 5px 10px;
        }
        .podcast-name{
            font-size: 14px;
            color: var(--accenttwo);
            font-weight: 500;
            @media (max-width: 767px) {
                font-size: 10px;
            }
        }
        .author-etc{
            display: flex;
            align-items: center;
            justify-content: start;
            flex-wrap:initial;
            font-size: 12px;
            color: var(--accenttwo);
            @media (max-width: 767px) {
                font-size: 8px;
            }
            .dot{
                height: 4px;
                width: 4px;
                background-color: var(--accenttwo);
                border-radius: 50%;
                display: inline-block;
                margin: 2px 10px;
            }
        }
        .episode-name{
            font-size: 18px;
            line-height: 1.4em;
            color: var(--accent);
            @media (max-width: 767px) {
                font-size: 12px;
            }
        }
        .time-slider-embed{
            display: flex;
            flex-direction: column;
            @media (max-width: 767px) {
                display: none;
            }
            .playtime{
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 10px;
                color: var(--accenttwo);
                @media (max-width: 767px) {
                    font-size: 8px;
                    display: none;
                }
            }
            .mat-slider-horizontal {
                height: 30px;
                @media (max-width: 767px) {
                    font-size: 20px;
                }
            }
        }
    }
}

.truncate-overflow {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.only-mob{
    display: none;
    @media (max-width: 767px) {
        display: block;
    }
}
.only-desk{
    display: block;
    @media (max-width: 767px) {
        display: none;
    }
}