<div class="search-container">
    <div class="inside-search-container">
        <div>
            <div class="outside-container"
                *ngIf="searchResults && searchResults.PodcastList && searchResults.PodcastList.length">
                <div *ngFor="let eachPodcast of searchResults.PodcastList" class="upcoming-card"
                    (click)="redirectToPodcast(eachPodcast)">
                    <img defaultImage="https://aurealbucket.s3.us-east-2.amazonaws.com/thumbnailnew.png" [lazyLoad]="eachPodcast.image" class="lazyload">
                    <div class="content">
                        <h6 class="name">{{eachPodcast.name}}</h6>
                        <p class="author text-truncate">By {{eachPodcast.author}}</p>
                        <div class="categories d-flex flex-wrap">
                            <p *ngFor="let tag of eachPodcast.Categories; let cardIndex = index;">
                                <span *ngIf="tag.name && cardIndex<5">{{tag.name}}</span></p>
                        </div>
                    </div>
                </div>
                <div class="mt-3 mb-3 d-flex align-center justify-content-between">
                    <span></span>
                    <span class="show-more" (click)="onScrollDown()">Show more</span>
                </div>
            </div>
            <div class="outside-container" *ngIf="!isLoading && !searchResults.PodcastList.length">
                <span class="no-results">No results found for your search</span>
            </div>
            <div class="outside-container" *ngIf="isLoading">
                <app-loader></app-loader>
            </div>
        </div>
    </div>

</div>