:root[theme=dark] {
    --theme-background: #303237;//#161616;
    --theme-color: #E8E8E8;
    --primary: #5bc3ef;
    --accent: #DCDDDE;//#E8E8E8;
    --accenttwo: #8e9297;//#777777;
    --primary-background: #2a2b2f;
    --secondary-background: #393c42;//#222222;
    --tertiary-background: #2a2b2f;//#3A3A3A;
    --primary-border: #3A3A3A;
}