:root[theme=dark] {
    --theme-background: #161616;
    --theme-color: #E8E8E8;
    --primary: #5bc3ef;
    --accent: #E8E8E8;
    --accenttwo: #777777;
    --secondary-background: #222222;
    --tertiary-background: #3A3A3A;
    --primary-border: #3A3A3A;
}