:root {
    --theme-background: #FFFFFF;
    --theme-color: #060607;
    --primary: #5d5da8;
    --accent: #060607;
    --accenttwo: #6A7480;
    --primary-background: #e3e5e8;
    --secondary-background: #f2f3f5;
    --tertiary-background: #ebedef;
    --primary-border: #E8E8E8;
}