:root {
    --theme-background: #FFFFFF;
    --theme-color: #3A3A3A;
    --primary: #5d5da8;
    --tertiary: #485473;
    --accent: #3A3A3A;
    --accenttwo: #777777;
    --secondary-background: #F2F2F2;
    --tertiary-background: #E8E8E8;
    --primary-border: #E8E8E8;
}