<div class="container">
  <div>
    <div class="login-part" *ngIf="isLoginFormShown">
      <div *ngIf="!isForgotPassword">
        <h3 class="the-text">Login</h3>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" class="form">
          <mat-form-field class="form-element">
            <input matInput placeholder="Username" formControlName="username" />
            <mat-error *ngIf="
                !loginForm.controls['username'].valid &&
                loginForm.controls['username'].touched
              ">
              {{ getErrorUsername(loginForm) }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-element">
            <input matInput type="password" placeholder="Password" formControlName="password" />
            <mat-error *ngIf="
                !loginForm.controls['password'].valid &&
                loginForm.controls['password'].touched
              ">
              {{ getErrorPassword(loginForm) }}
            </mat-error>
          </mat-form-field>

          <div class="form-element">
            <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!loginForm.valid">
              Login
              <i class="fas fa-spinner fa-spin" *ngIf="isbuttonLoaderOn" aria-hidden="true"></i>
            </button>
          </div>
        </form>

        <div class="form-element">
          <button mat-raised-button color="secondary" class="button" (click)="isForgotPassword = true">
            Forgot Password ?
          </button>
        </div>

        <h6 (click)="isLoginFormShown = false" class="no-account">
          No Aureal Account? Signup here
        </h6>
      </div>
      <div *ngIf="isForgotPassword">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitForgotPasswordForm(forgotPasswordForm.value)"
          class="form" *ngIf="!isOtpFormShown">
          <div class="form-element" style="padding-bottom: 20px">
            <ngx-intl-tel-input matInput [cssClass]="'custom'" [preferredCountries]="[
                CountryISO.UnitedStates,
                CountryISO.UnitedKingdom
              ]" [enableAutoCountrySelect]="false" [enablePlaceholder]="true" [searchCountryFlag]="true"
              [searchCountryField]="[
                SearchCountryField.Iso2,
                SearchCountryField.Name
              ]" [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.India" [maxLength]="15"
              [tooltipField]="TooltipLabel.Name" [phoneValidation]="true" placeholder="Mobile" name="mobile"
              formControlName="mobile"></ngx-intl-tel-input>
          </div>

          <div class="form-element">
            <button mat-raised-button color="primary" type="submit" class="button"
              [disabled]="!forgotPasswordForm.valid">
              Proceed
              <i class="fas fa-spinner fa-spin" *ngIf="isbuttonLoaderOn" aria-hidden="true"></i>
            </button>
          </div>
        </form>

        <form [formGroup]="otpForm" (ngSubmit)="onSubmitOtp(otpForm.value)" class="form" *ngIf="isOtpFormShown">
          <h2>Hi, {{ authService.getUsername() }}</h2>
          <mat-form-field class="form-element">
            <input matInput placeholder="OTP" formControlName="otp" />
            <mat-error *ngIf="
                !otpForm.controls['otp'].valid &&
                otpForm.controls['otp'].touched
              ">
              {{ getErrorOtp(otpForm) }}
            </mat-error>
          </mat-form-field>

          <div class="form-element">
            <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!otpForm.valid">
              Submit Otp
              <i class="fas fa-spinner fa-spin" *ngIf="isbuttonLoaderOn" aria-hidden="true"></i>
            </button>
          </div>
        </form>
      </div>
      <!-- <button mat-raised-button color="secondary" class="button" (cl)>Forgot Password ?</button> -->
    </div>
    <div class="signup-part" *ngIf="!isLoginFormShown">
      <h3 class="the-text">Signup</h3>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignup(signupForm.value)" class="form" *ngIf="!isOtpFormShown">
        <!-- <mat-form-field class="form-element"> -->
        <!-- <input matInput placeholder="Mobile" formControlName="mobile"> -->
        <div class="form-element" style="padding-bottom: 20px">
          <ngx-intl-tel-input matInput [cssClass]="'custom'" [preferredCountries]="[
              CountryISO.UnitedStates,
              CountryISO.UnitedKingdom
            ]" [enableAutoCountrySelect]="false" [enablePlaceholder]="true" [searchCountryFlag]="true"
            [searchCountryField]="[
              SearchCountryField.Iso2,
              SearchCountryField.Name
            ]" [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.India" [maxLength]="15"
            [tooltipField]="TooltipLabel.Name" [phoneValidation]="true" placeholder="Mobile" name="mobile"
            formControlName="mobile"></ngx-intl-tel-input>
        </div>
        <mat-form-field class="form-element">
          <input matInput placeholder="Username" formControlName="username" />
          <mat-error *ngIf="
              !signupForm.controls['username'].valid &&
              signupForm.controls['username'].touched
            ">
            {{ getErrorUsername(signupForm) }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="Full Name" formControlName="fullname" />
          <mat-error *ngIf="
              !signupForm.controls['fullname'].valid &&
              signupForm.controls['fullname'].touched
            ">
            {{ getErrorFullname(signupForm) }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Date of Birth</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dob" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput type="password" placeholder="Password" formControlName="password" />
          <mat-error *ngIf="
              !signupForm.controls['password'].valid &&
              signupForm.controls['password'].touched
            ">
            {{ getErrorPassword(signupForm) }}
          </mat-error>
        </mat-form-field>

        <div class="form-element">
          <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!signupForm.valid">
            Signup
            <i class="fas fa-spinner fa-spin" *ngIf="isbuttonLoaderOn" aria-hidden="true"></i>
          </button>
        </div>
        <h6 (click)="isLoginFormShown = true" class="no-account">
          Already have an Aureal Account? Login here
        </h6>
      </form>
      <form [formGroup]="otpForm" (ngSubmit)="onSubmitOtp(otpForm.value)" class="form" *ngIf="isOtpFormShown">
        <mat-form-field class="form-element">
          <input matInput placeholder="OTP" formControlName="otp" />
          <mat-error *ngIf="
              !otpForm.controls['otp'].valid && otpForm.controls['otp'].touched
            ">
            {{ getErrorOtp(otpForm) }}
          </mat-error>
        </mat-form-field>
        <div class="form-element">
          <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!otpForm.valid">
            Submit Otp
            <i class="fas fa-spinner fa-spin" *ngIf="isbuttonLoaderOn" aria-hidden="true"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>