.podcast-card{
    // background: white;
    background: var(--secondary-background);
    display: flex;
    // margin-right: 20px;
    padding: 10px;
    width: inherit;
    border-radius: 8px; //20px;
    position: relative;
    .img{
        max-width: 21%;
        height: auto;
        min-height: 55px;
        object-fit: contain;
        border-radius: 12px;
    }
    .content{
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        width: calc(100% - 25%);
        align-self: stretch;
        justify-content: space-between;
        .episode_name{
            font-size: 14px;
            font-weight: 500;
        }
        .podcast_name{
            font-size: 12px;
            font-weight: 400;
            color: var(--accenttwo);
        }
        .vote-count{
            background: var(--tertiary-background);
            color: var(--theme-color);
            font-size: 10px;
            padding: 0px 7px;
            display: flex;
            align-items: center;
            border-radius: 15px;
            cursor: pointer;
            .icon{
                font-size: 14px;
                margin-right: 3px;
                margin-top: 1px;
            }
        }
        .comment-count{
            margin-top: 5px;
            margin-right: 10px;
            color: var(--theme-color);
            font-size: 10px;
            background: var(--tertiary-background);
            padding: 0px 7px;
            display: flex;
            align-items: center;
            border-radius: 15px;
            width: fit-content;
            .icon{
                font-size: 18px;
                margin-right: 3px;
                margin-top: 2px;
                color: var(--accent);
            }
            .icon-vote-up-arrow{
                margin-left: -3px;
            }
            &.voted{
                .icon{
                    color: var(--primary);
                }
            }
            cursor: pointer;
        }
    }
}


/* loader */
.timeline-item {
    background: var(--secondary-background);
    border-radius: 3px;
    padding: 12px;
    // border: 1px solid var(--primary-border);
    margin-bottom: 25px;
    padding: 15px;
    border-radius: 20px;
}
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}
.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: var(--tertiary-background);
    background: linear-gradient(to right, var(--tertiary-background) 8%, var(--accenttwo) 18%, var(--tertiary-background) 33%);
    background-size: 800px 104px;
    height: 40px;
    position: relative;
}
.background-masker {
    background: var(--secondary-background);
    position: absolute;
}
/* Every thing below this is just positioning */
.background-masker.header-top,.background-masker.header-bottom,.background-masker.subheader-bottom {
    top: 15px;
    left: 50px;
    right: 0;
    height: 8px;
}
.background-masker.header-bottom {
    top: 60px;
    height: 20px;
}
.background-masker.content-top,.background-masker.content-second-line,.background-masker.content-third-line,
.background-masker.content-second-end,.background-masker.content-third-end,.background-masker.content-first-end {
    top: 0px;
    left: 40px;
    height: 40px;
}
.background-masker.content-top {
    width: 15px;
}
