.podcast-container{
  width: 100%;
  padding: 25px 40px;
  min-height: 100vh;
}
.inside-search-container {
  padding: 15px;
  position: relative;
  @media (max-width: 767px) {
    flex-direction: column-reverse;
  }
  .show-container{
    border-bottom: 1px solid var(--primary-border);
    margin-bottom: 1em;
  }
  .vote-count{
    background: var(--tertiary-background);
    color: var(--accent);
    font-size: 14px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    .icon{
        font-size: 14px;
        margin-right: 3px;
    }
  }
  .share-but{
    background: var(--tertiary-background);
    color: var(--accent);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    .icon{
      margin-top: 4px;
      font-size: 16px;
    }
  }
  .album-art {
    margin-bottom: 15px;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .album-desc {
    margin-left: 25px;
    width: 80%;
    .podcast-name {
      color: var(--accent);
      font-weight: 500;
      margin-bottom: 0px;
    }
    .podcast-author {
      color: var(--accent);
      font-weight: 400;
      margin-bottom: 2em;
    }
    .podcast-desc {
      font-size: 14px;
      color: var(--accenttwo);
      margin-bottom: 1em;
      overflow-y: scroll;
      max-height: 200px;
      /* this will hide the scrollbar in mozilla based browsers */
      overflow: -moz-scrollbars-none;
      /* this will hide the scrollbar in internet explorers */
      -ms-overflow-style: none;
      &::-webkit-scrollbar { 
          width: 0 !important;
          display: none; 
      }
    }
  }
}

.view-more{
  color: var(--accenttwo);
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  .icon{
    font-size: 14px;
    margin-top: 2px;
  }
}

.podcast-episode-container {
  margin: 60px auto;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 767px) {
    margin: 20px auto;
  }
  .episode-container {
    margin-bottom: 40px;
    @media (max-width: 767px) {
      padding: 0px;
      margin-bottom: 30px;
    }
    .inside-episode-container {
      .podcast-card {
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 20px;
        border-bottom: 1px solid var(--light);
        background: white;
        @media (max-width: 576px) {
          padding: 10px;
        }
        &:hover {
          background: #f9f9f9;
          cursor: pointer;
          .upvotes {
            background: white;
          }
        }
        .content {
          margin-left: 10px;
          width: 100%;
        }
        img {
          max-height: 100px;
          border-radius: 8px;
          @media (max-width: 576px) {
            max-height: 70px;
          }
        }
        .itemsContainer {
          background: transparent;
          float: left;
          position: relative;
        }
        .itemsContainer:hover .play {
          display: block;
        }
        .play {
          position: absolute;
          display: none;
          top: 0;
          width: 100%;
          margin: 0 auto;
          left: 0px;
          right: 0px;
          z-index: 100;
          img {
            opacity: 0.4;
          }
        }
        .name {
          color: var(--accent);
          font-size: 16px !important;
          font-weight: 500;
          margin-bottom: 0px;
          @media (max-width: 576px) {
            font-size: 13px !important;
          }
        }
        .podcast-name {
          color: var(--accenttwo);
          font-size: 14px !important;
          font-weight: 500;
          margin-bottom: 0px;
          @media (max-width: 576px) {
            font-size: 12px !important;
          }
        }
        .author {
          color: var(--accenttwo);
          font-size: 13px !important;
          max-width: 200px;
          margin-bottom: 0px;
          @media (max-width: 576px) {
            font-size: 11px !important;
          }
        }
        .duration {
          display: flex;
          margin-right: 20px;
          color: var(--accenttwo);
          p {
            font-size: 13px !important;
            margin-bottom: 0px;
            @media (max-width: 576px) {
              font-size: 11px !important;
            }
          }
        }
        .views {
          display: flex;
          margin-right: 20px;
          color: var(--accenttwo);
          p {
            font-size: 13px !important;
            margin-left: 5px;
            margin-bottom: 0px;
            @media (max-width: 576px) {
              font-size: 11px !important;
            }
          }
        }
        .upvotes {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: var(--accenttwo);
          padding: 5px;
          border: 1px solid var(--secondary);
          border-radius: 4px;
          min-width: 80px;
          min-height: 80px;
          @media (max-width: 576px) {
            min-width: 50px;
            min-height: 50px;
          }
          p {
            font-size: 12px !important;
            margin-left: 5px;
            margin-bottom: 0px;
            @media (max-width: 576px) {
              font-size: 10px !important;
            }
          }
        }
        .tags {
          display: flex;
          color: var(--accenttwo);
          p {
            font-size: 14px !important;
            margin-bottom: 0px;
          }
        }
        .description {
          display: flex;
          color: var(--accenttwo);
          p {
            font-size: 14px !important;
            margin-bottom: 5px;
          }
        }
      }

      .truncate-overflow {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
    }
  }
  .some-container{
    width: 70%;
    background: var(--secondary-background);
    border-radius: 20px;
    padding: 25px;
  }
  .similar-podcasts{
    width: 28%;
    background: var(--secondary-background);
    padding: 30px;
    border-radius: 20px;
    height: fit-content;
    .heading {
      font-size: 16px;
      color: var(--accent);
      font-weight: bold;
      text-transform: capitalize;
      margin-bottom: 30px;
    }
    .each-podcast{
      border-bottom: 1px solid var(--primary-border);
      margin-bottom: 20px;
      padding-bottom: 20px;
      width: 100%;
      display: flex;
      img{
        max-width: 20%;
        border-radius: 8px;
        margin-right: 10px;
        object-fit: contain;
      }
      .episode-name{
        font-size: 14px;
        color: var(--accent);
        margin-bottom: 5px;
      }
      .published_at{
        font-size: 12px;
        color: var(--accenttwo);
      }
    }
  }
}

// audio::-webkit-media-controls-panel{
//     // background: #3f67f6;
//     width: 100%;
// }
audio {
  width: 100%;
}
// hr{
//     margin: 0;
// }

.truncate-overflow {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.w100 {
  width: 100%;
}

.container {
  @media (max-width: 576px) {
    padding-top: 0px;
  }
}
