<div class="live-container">
    <div class="heading">About us</div>
    <div class="d-flex justify-content-between">
        <div class="userprofile-section">
            <h6 class="mb-4">What is Aureal?</h6>
            <span class="accenttwo">Aureal is an auditory heaven for all things blissful. 
                It is a platform that let's you generate value for your content through interactions of your audience 
            and helps you connect with them. Aureal enables your growth as a content creator and helps you grow your audience.</span>
        </div>
        <div class="image-section">
            <img src="https://aurealbucket.s3.us-east-2.amazonaws.com/Mascot.png" class="lazyload">
        </div>
    </div>

</div>