.referral-container{
    padding: 50px;
    img{
        width: 100%;
    }
    .referral-input{
        border-radius: 20px;
        border: 0.5px solid var(--accenttwo);
        background: inherit;
        padding: 5px 15px;
        font-size: 14px;
        color: var(--accent);
        font-weight: bold;
    }
}