<div class="live-container">
    <!-- <div class="heading">Live</div> -->
    <div class="userprofile-section">
        <div class="">
            <h6>Aureal Live is coming soon!</h6>
            <div class="d-flex align-items-center mt-5">
                <span class="icon icon-schedule-white-18dp accenttwo"></span>
                <span class="ml-3 accenttwo">Interact with your audience in real time.</span>
            </div>
            <div class="d-flex align-items-center mt-4">
                <span class="icon icon-mic-none-black-24dp accenttwo"></span>
                <span class="ml-3 accenttwo">Schedule live sessions and invite people to join.</span>
            </div>
            <div class="d-flex align-items-center mt-4">
                <span class="icon icon-task-alt-black-24dp accenttwo"></span>
                <span class="ml-3 accenttwo">Publish your live sessions and monetise them instantly.</span>
            </div>
            <div class="d-flex align-items-center mt-4">
                <span class="icon icon-add-circle-outline-black-24dp accenttwo"></span>
                <span class="ml-3 accenttwo">Add people to go live with you in your sessions.</span>
            </div>
            <h6 class="mt-5">Aureal Live will be available soon for everyone. Keep an eye on this space for updates. Join Aureal's discord channel for more updates and information. </h6>
            <div class="d-flex align-items-center">
                <button class="secondary-but">Coming Soon</button>
                <button class="secondary-sec-but m-3" > <a href="https://discord.gg/wMEsxnXBZk">Aureal's discord channel</a></button>
            </div>
        </div>
        <div class="side-icon">
            <span class="icon icon-stream-black-24dp"></span>
        </div>
    </div>
</div>