.live-container{
    width: 100%;
    padding: 25px 40px;
    min-height: 100vh;
    .heading{
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 30px;
        color: var(--accent);
    }
    .userprofile-section {
        width: 100%;
        background: var(--secondary-background);
        // border: 1px solid var(--primary-border);
        border-radius: 20px;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        .icon{
            font-size: 22px;
            margin-top: 2px;
        }
        .side-icon{
            .icon{
                font-size: 200px;
                color: var(--tertiary-background);
            }
        }
        .each-room{
            background: var(--tertiary-background);
            padding: 20px;
            background: var(--tertiary-background);
            margin: 20px 0;
            border-radius: 10px;
            img{
                width: 100px;
                height: 70px;
                border-radius: 8px;
            }
            .user-image-avatar {
                font: 300 44px/66px Roboto, roboto, "Helvetica Neue", sans-serif;
                color: var(--accent);
                text-transform: uppercase;
                background-image: linear-gradient(to right, #52bff9, #5f51f6);
                // background: linear-gradient(#694ed6, #c137a2, #e40046);
                height: 70px;
                width: 100px;
                border-radius: 8px;
                margin: 4px;
                font-size: 1em;
                -o-object-fit: cover;
                object-fit: cover;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                -webkit-box-align: center;
                align-items: center;
                display: -webkit-box;
                display: flex;
                -webkit-box-pack: center;
                justify-content: center;
              }
        }
    }
}