
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import "~bootstrap/dist/css/bootstrap.css";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
@import './three-dots.css';
@import "./fontastic-icons.css";
@import '~ngx-toastr/toastr';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$aureal-rss-frontend-primary: mat-palette($mat-indigo);
$aureal-rss-frontend-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$aureal-rss-frontend-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$aureal-rss-frontend-theme: mat-light-theme($aureal-rss-frontend-primary, $aureal-rss-frontend-accent, $aureal-rss-frontend-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($aureal-rss-frontend-theme);
$custom-typography: mat-typography-config(
  $font-family: "'OpenSauceSans', sans-serif"
);
@include mat-core($custom-typography);

/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "OpenSauceSans";
    src: url("src/assets/fonts/OpenSauceSans-Light.ttf");
    // src: url('src/assets/fonts/Gotham-Thin.woff') format('woff');
    font-weight: 100;
  }
  @font-face {
    font-family: "OpenSauceSans";
    src: url("src/assets/fonts/OpenSauceSans-Regular.ttf");
    // src: url('src/assets/fonts/Gotham-Light.woff') format('woff');
    font-weight: 300;
  }
  @font-face {
    font-family: "OpenSauceSans";
    src: url("src/assets/fonts/OpenSauceSans-Regular.ttf");
    // src: url('src/assets/fonts/Gotham-Book.woff') format('woff');
    font-weight: 400;
  }
  @font-face {
    font-family: "OpenSauceSans";
    src: url("src/assets/fonts/OpenSauceSans-Bold.ttf");
    // src: url('src/assets/fonts/Gotham-Medium.woff') format('woff');
    font-weight: 500;
  }
  
  @font-face {
    font-family: "OpenSauceSans";
    src: url("src/assets/fonts/OpenSauceSans-ExtraBold.ttf");
    // src: url('src/assets/fonts/Gotham-Ultra.woff') format('woff');
    font-weight: bold;
  }
  
$font-family-base:"OpenSauceSans",
sans-serif;

@import "~bootstrap/dist/css/bootstrap.css";
@import '~ngx-sharebuttons/themes/modern/modern-light-theme';

@import './themes/light.scss';
@import './themes/dark.scss';
// * {
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
//     font-family: 'lato', 'arial', sans-serif;
// }
// $font-family-base:"Avenir", "Helvetica Neue",sans-serif;
html, body { height: 100%;
  background: var(--theme-background);
  color: var(--theme-color);
  transition: all ease-in-out 300ms;
    //  font-size: 14px;
}
body { margin: 0; font-family: "OpenSauceSans", sans-serif;}

h1 {
    font-size: 28px !important;
    width: 100%;
    /* color: #c2a63f; */
    line-height: 1.22;
    font-weight: 500;
    color: var(--accent);
}
h2 {
    font-size: 22px !important;
    width: 100%;
    /* color: #c2a63f; */
    line-height: 1.22;
    font-weight: 400 !important;
    color: var(--accent);
}
h3 {
    font-size: 18px !important;
    font-weight: 300;
    color: var(--accent);
}
h4 {
    font-size: 16px !important;
    font-weight: 500;
    color: var(--accent);
}
h5,
h6 {
    font-size: 16px !important;
    font-weight: 500;
    color: var(--accent);
}
p{
    font-size: 16px !important;
    color: var(--accent);
}

.sp-section {
    position: relative;
    overflow-x: hidden;
    @media (max-width: 767px) {
        padding: 20px 0;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 20px !important;
        width: 100%;
        /* color: #c2a63f; */
        line-height: 1.22;
        font-weight: 500;
    }
    h2 {
        font-size: 18px !important;
        line-height: 1.22;
        font-weight: 400 !important;
    }
    h3 {
        font-size: 18px !important;
        font-weight: 300;
    }
    h4 {
        font-size: 16px !important;
        font-weight: 500;
    }
    h5,
    h6 {
        font-size: 14px !important;
        font-weight: 500;
    }
    p{
        font-size: 14px !important;
    }
}

.f600{
  font-weight: 600;
}

.f500{
  font-weight: 500;
}

.fnormal{
  font-weight: normal;
}

.container{
    padding-top: 50px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-dialog-container {
    border-radius: 20px !important;
    background: var(--tertiary-background);
    padding: 0 !important;
    @media (max-width: 576px) {
        padding: 10px !important;
    }
}


.mat-toolbar.mat-primary {
    // background: white;
    color: var(--accent);
}

.the-player{
    position: fixed;
    width: calc(100% - 120px); 
    height: 100px; 
    z-index: 1;
    bottom: 0;
    background: rgba(17,17,17,0.4);
    &.dark{
      background: rgba(58, 58, 58,0.4);
    }
    border-radius: 10px;
    margin: 10px;
    backdrop-filter: blur(12px);
    color: #FFFFFF;
    &.embedded{
      position: static;
      display: block;
    }
    .mat-toolbar.mat-primary {
        background: inherit;
        color: #FFFFFF;
    }
    .mat-slider-horizontal .mat-slider-wrapper {
      background: #FFFFFF;
    }
}
.mat-accent .mat-slider-track-fill, .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label{
    background: var(--primary);
}

.iti{
    width: 100%;
}

.iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel]{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    background: inherit;
    width: 100%;
    &:focus{
        outline: none;
        border-bottom: 2px solid var(--primary);
    }
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 40px !important;
    font-size: 14px !important;
}

@media (max-width: 599px){
    .mat-toolbar-row, .mat-toolbar-single-row {
        height: 20px !important;
    }
}

.dropdown-menu-right {
    right: 0 !important;
    left: auto !important; 
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    // background-color: var(--primary);
    color: white;
    background-image: linear-gradient(to right, #52BFF9, #5F51F6);
}

.mat-flat-button.mat-primary[disabled], .mat-flat-button.mat-accent[disabled], .mat-flat-button.mat-warn[disabled], .mat-flat-button[disabled][disabled], .mat-raised-button.mat-primary[disabled], .mat-raised-button.mat-accent[disabled], .mat-raised-button.mat-warn[disabled], .mat-raised-button[disabled][disabled], .mat-fab.mat-primary[disabled], .mat-fab.mat-accent[disabled], .mat-fab.mat-warn[disabled], .mat-fab[disabled][disabled], .mat-mini-fab.mat-primary[disabled], .mat-mini-fab.mat-accent[disabled], .mat-mini-fab.mat-warn[disabled], .mat-mini-fab[disabled][disabled]{
  background-image: none;
}

    /* loader */
    .timeline-item {
        background: var(--secondary-background);
        // border-bottom: 1px solid var(--light);
        border-radius: 3px;
        padding: 12px;
        margin-bottom: 25px;
      }
      @keyframes placeHolderShimmer {
        0% {
          background-position: -468px 0;
        }
        100% {
          background-position: 468px 0;
        }
      }
      .animated-background {
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        background: #f6f7f8;
        background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
        background-size: 100% 80px;
        height: 100px;
        position: relative;
      }
    
      .vertical-bottom {
        width: 20px;
        background: #fff;
        height: 100px;
        position: absolute;
        bottom: 0;
        left: 100px;
        margin: auto;
      }
      .horizontal-bottom {
        height: 20px;
        background: #fff;
        width: calc(100% - 100px);
        position: absolute;
        top: 40px;
        right: 0;
        margin: auto;
      }

/* Add application styles & imports to this file! */
.replies {
    border-bottom: 1px solid var(--primary-border);
    padding: 5px;
    border-radius: 2px;
    display: block;
    margin-left: 15px;
    margin-bottom: 20px;
  }
  
  .main{
    display: flex;
    
  }
  
  .replies .left button:nth-child(1) {
    transform: rotate(90deg)
  }
  
  .replies .left button:last-child {
    transform: rotate(90deg)
  }
  
  .replies .left {
    text-align: center;
    margin: 2px;
    padding: 1px;
  }
  .right {
    padding: 2px;
    width: 100%;
  }
  .detail {
    padding: 2px
  }
  .user {
    color: var(--accent);
  }
  .date {
    font-size: 12px;
  }
  
  .user+.date {
    margin-left: 5px;
    opacity: 0.6;
  }
  
  button:focus {
    outline: none !important;
  }

  .w100{
    width: 100%;
  }

  .accenttwo{
    color: var(--accenttwo);
  }
  .accent{
    color: var(--accent);
  }

  .relative{
    position: relative;
  }

  .pointer{
    cursor: pointer;
  }

  .mat-chip-list-wrapper input.mat-input-element, .mat-chip-list-wrapper .mat-standard-chip{
    min-width: fit-content !important;
  }

  .mat-chip-list-wrapper{
    flex-wrap: inherit !important;
    max-height: 3em !important;
    overflow-x: auto !important;
    overflow: hidden;
  }

.custom-card{
  // padding: 30px;
  // margin: 20px;
  // border: 1px solid var(--primary-border);
  // background: linear-gradient(to bottom, #E8EAF6, #ffffff);
  border-radius: 5px;
  padding: 5px 0px;
  .custom-card-heading{
    padding: 0 20px;
    .icon{
      font-size: 24px;
      color: var(--accenttwo);
      cursor: pointer;
    }
  }
  .card-heading{
    font-size: 18px;
  }
  .card-side-heading{
      font-size: 14px;
  }
  .custom-infinite-row{
    overflow-x: scroll;
    display: flex;
    margin-right: 0px;
    padding-left: 0px;
    margin-left: 20px;
    /* this will hide the scrollbar in mozilla based browsers */
    overflow: -moz-scrollbars-none;
    /* this will hide the scrollbar in internet explorers */
    -ms-overflow-style: none;
    &::-webkit-scrollbar { 
        width: 0 !important;
        display: none; 
    }
    .custom-col-episode{
      flex: 0 0 23%;
      max-width: 23%;
      position: relative;
      width: 100%;
      // padding-right: 15px;
      padding-right: 0;
      margin-right: 20px;
      @media only screen and (max-width: 1024px) {
          flex: 0 0 50%;
          max-width: 50%;
          position: relative;
          width: 100%;
          // padding-right: 15px;
          padding-right: 0;
          margin-right: 20px;
      }
      @media (max-width: 576px) {
          flex: 0 0 50%;
          max-width: 50%;
          position: relative;
          width: 100%;
          // padding-right: 15px;
          padding-right: 0;
          margin-right: 20px;
      }
    }
    .custom-col-podcast{
      flex: 0 0 40%;
      max-width: 40%;
      position: relative;
      width: 100%;
      padding-right: 20px;
      padding-left: 0;
      &.hideit{
        display: none;
      }
      @media only screen and (max-width: 1024px) {
          flex: 0 0 50%;
          max-width: 50%;
          position: relative;
          width: 100%;
          padding-right: 15px;
          padding-left: 15px;
      }
      @media (max-width: 576px) {
          flex: 0 0 50%;
          max-width: 50%;
          position: relative;
          width: 100%;
          padding-right: 15px;
          padding-left: 15px;
      }
    }
  }
  .custom-row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    margin: 0;
    margin-right: 20px;

    .custom-col{
        flex: 0 0 20%;
        max-width: 20%;
        position: relative;
        width: 100%;
        // padding-right: 15px;
        padding-left: 20px;
        @media only screen and (max-width: 1024px) {
            flex: 0 0 25%;
            max-width: 25%;
            position: relative;
            width: 100%;
            // padding-right: 15px;
            padding-left: 20px;
        }
        @media (max-width: 576px) {
            flex: 0 0 50%;
            max-width: 50%;
            position: relative;
            width: 100%;
            // padding-right: 15px;
            padding-left: 20px;
        }

    }

}
}

.mat-drawer-container {
  background: inherit !important;
  color: inherit !important;
}

.mat-drawer {
  background: inherit !important;
}
.mat-drawer-content {
  background: inherit !important;
  transition: margin-left 0.5s;
  display: block;
  overflow-x: hidden !important;
  /* this will hide the scrollbar in mozilla based browsers */
  overflow: -moz-scrollbars-none;
  /* this will hide the scrollbar in internet explorers */
  -ms-overflow-style: none;
  &::-webkit-scrollbar { 
      width: 0 !important;
      display: none; 
  }
  &.is-player-open{
    margin-bottom: 100px;
  }
  margin-left: 100px !important;
  // margin-right: 200px !important;
  &.expanded{
    margin-left: 250px !important;
  }
}

.dropdown-toggle::after {
  display: none !important;
}

.divider{
  border-top: 0.5px solid var(--primary-border);
  height: 1px;
  width: 100%;
  margin: 20px auto;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.9) !important;
}

.item {
  padding: 0;
  width: 300px;
  height: 300px;
  background-color: crimson;
  color: #fff;
  font-size: 50px;
  line-height: 300px;
  text-align: center;
}

.primary-but{
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  background: var(--primary);
  color: white;
  .icon{
    margin-left: 10px;
  }

  &:disabled{
    background: var(--tertiary-background);
    cursor: not-allowed;
  }
}

.secondary-sec-but{
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  background: inherit;
  border: 0.5px solid var(--accent);
  color: var(--accent);
  a{
    color: var(--accent);
  }
}

.secondary-but{
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  background: inherit;
  border: 0.5px solid var(--primary-border);
  color: var(--accenttwo);
}

.search-container{
  position: relative;
  margin: 0 15px;
  .icon{
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    color: var(--accenttwo);
  }
  input{
    border-radius: 20px;
    border: 0.5px solid var(--primary-border);
    background: inherit;
    padding: 5px 15px;
    font-size: 14px;
    width: 300px;
    color: var(--accent);
    &:focus{
      outline: none;
      width: 600px;
    }
  }
}

.sb-group {
  flex-wrap: wrap !important;
  padding: 30px !important;
}
.sb-wrapper {
  color: var(--accenttwo) !important;
  background-color:var(--tertiary-background) !important;
  transition: box-shadow ease-in 150ms, transform ease-in 150ms;
  border-radius: 10px;
}

.mat-form-field-label-wrapper {
  display: none;
}
.mat-form-field-underline {
  display: none;
}
.mat-form-field-subscript-wrapper{
  display: none;
}

.mat-drawer-inner-container{
  overflow: hidden !important;
  background: var(--primary-background);
}

.mat-datepicker-toggle{
  .mat-icon-button{
    font-size: 20px !important;
    color: var(--accent);
    top: 32px;
    right: 35px;
  }
}

.toogle-but{
  margin-top: -25px;
  input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: var(--primary-background);
    display: block;
    border-radius: 100px;
    position: relative;
  }
  
  label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 21px;
    height: 21px;
    background: var(--tertiary-background);
    border-radius: 20px;
    transition: 0.3s;
  }
  
  input:checked + label {
    background: var(--primary);
  }
  
  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
  label:active:after {
    width: 50px;
  }  
}

iframe{
  border-radius: 8px !important;
  border: none;
}